<h1>Convert <%= @original_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/<%= @original_currency %>/USD">
        Convert 1 <%= @original_currency %> to USD
      </a>
    </li>
</ul>
